@import url(./fonts.css);
@import url(./resets.css);
.popup-cart {
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: end;
  top: 0;
  right: 0;
  background: rgba(25, 25, 25, 0.4);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  z-index: 1000;
  transition: 0.33s;
}
.popup-cart--active {
  visibility: visible;
  opacity: 1;
}
.popup-cart__window {
  max-width: 420px;
  width: 100%;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgb(255, 255, 255);
}
.popup-cart__window-conteiner {
  width: 100%;
  padding: 32px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.popup-cart__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-cart__subheading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.popup-cart__body-item {
  padding: 16px;
  width: 100%;
  height: 126px;
  display: flex;
  align-items: start;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
}
.popup-cart__item-img {
  width: 94px;
  height: 94px;
  margin-right: 16px;
}
.popup-cart__item-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.popup-cart__column-top {
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.popup-cart__name {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__description {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__column-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-cart__counter {
  width: 92px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 238, 226);
  border-radius: 6px;
}
.popup-cart__counter-btn {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.popup-cart__counter-span {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.popup-cart__price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
}
.popup-cart__footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  right: 0;
  margin-top: auto;
  border-top: 1px solid rgb(240, 240, 240);
  background: rgb(255, 255, 255);
}
.popup-cart__footer-box {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.popup-cart__footer-price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__btn {
  padding: 13px 44px;
  border-radius: 6px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.popup-cart__btn--submit {
  background: rgb(255, 112, 16);
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(249, 249, 249);
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header {
  background-color: rgb(255, 255, 255);
}
.header__top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.header__top-left-side {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}
.header__top-location {
  height: 20px;
  padding-left: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: url(../assets/icon/icon-map-point.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header__top-location-span {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-address-span {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-timer-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-timer {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-right-side {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__top-info-box {
  display: flex;
  align-items: center;
}
.header__top-info-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.header__top-info-time {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__top-btn-text {
  padding-left: 28px;
  background: url(../assets/icon/icon-man.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__bottom {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.header__logo-link {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 44px;
  margin-right: 6%;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header__logo-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__bottom-nav {
  position: relative;
  margin-right: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__menu-link {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.header__menu-link--arrow {
  padding-right: 24px;
  background: url(../assets/icon/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center right;
}
.header__submenu-box {
  padding-top: 31px;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: -17%;
  z-index: 100;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.header__menu-item:hover > .header__submenu-box {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.header__submenu {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
  z-index: 99;
}
.header__submenu::after {
  content: "";
  width: 16px;
  height: 8px;
  position: absolute;
  top: -7px;
  left: 142px;
  background: url(../assets/icon/icon-triangle.svg);
  background-repeat: no-repeat;
  background-size: 16px 8px;
}
.header__submenu-item {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.header__card-btn {
  padding: 9px 16px 9px 48px;
  background: url(../assets/icon/icon-cart.svg), rgb(255, 112, 16);
  background-repeat: no-repeat;
  background-position: center left 16px;
  border-radius: 4px;
}
.header__card-price-box {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.main__wrapper {
  max-width: 850px;
  flex-direction: column;
  align-items: start;
}
.main__top {
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.main__heading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.main__top-fieldset {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}
.main__top-fieldset-item {
  display: flex;
  align-items: center;
}
.main__top-fieldset-label {
  display: flex;
  align-items: center;
}
.main__top-input {
  display: none;
}
.main__top-input:checked + .main__top-checkbox {
  background: rgb(255, 112, 16);
  color: rgb(255, 255, 255);
}
.main__top-checkbox {
  cursor: pointer;
  padding: 13px 30px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: "Inter";
  color: rgb(25, 25, 25);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.3s;
}
.main__middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__orders {
  width: 100%;
}
.main__order {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
}
.main__order-top {
  width: 100%;
  padding: 16px 20px 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__order-top--processed {
  background: url(../assets/icon/icon-status-red.svg);
  background-repeat: no-repeat;
  background-size: 4px 44px;
  background-position: left 20px center;
}
.main__order-top--in-transit {
  background: url(../assets/icon/icon-status-orange.svg);
  background-repeat: no-repeat;
  background-size: 4px 44px;
  background-position: left 20px center;
}
.main__order-top--in-completed {
  background: url(../assets/icon/icon-status-green.svg);
  background-repeat: no-repeat;
  background-size: 4px 44px;
  background-position: left 20px center;
}
.main__order-top--in-cancel {
  background: url(../assets/icon/icon-status-green.svg);
  background-repeat: no-repeat;
  background-size: 4px 44px;
  background-position: left 20px center;
}
.main__order-about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.main__order-about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}
.main__order-about-span {
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.main__order-about-box {
  display: flex;
  align-items: center;
}
.main__order-about-date {
  margin-left: 8px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.main__order-about-btn {
  width: 16px;
  height: 9px;
  background: url(../assets/icon/icon-orange-arrow.svg);
}

.footer {
  width: 100%;
  height: 262px;
  margin-top: auto;
  padding: 32px 0px 32px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
}
.footer__wrapper {
  height: 100%;
  width: 100%;
  align-items: start;
}
.footer__column-about {
  height: 100%;
  width: 100%;
  max-width: 265px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer__column-logo-link {
  height: 40px;
  padding-left: 55px;
  display: flex;
  align-items: center;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
.footer__column-logo-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__copyright {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: left;
}
.footer__columns {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
}
.footer__column-heading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__column-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer__column-link {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */