@import url(./fonts.css);
@import url(./resets.css);
body {
  background-color: rgb(249, 249, 249);
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header {
  background-color: rgb(255, 255, 255);
}
.header__top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.header__top-left-side {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}
.header__top-location {
  height: 20px;
  padding-left: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: url(../assets/icon/icon-map-point.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header__top-location-span {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-address-span {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-timer-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-timer {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-right-side {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__top-info-box {
  display: flex;
  align-items: center;
}
.header__top-info-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.header__top-info-time {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__top-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__top-btn-text {
  padding-left: 28px;
  background: url(../assets/icon/icon-man.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__bottom {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.header__logo-link {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 44px;
  margin-right: 6%;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header__logo-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__bottom-nav {
  position: relative;
  margin-right: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__menu-link {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.header__menu-link--arrow {
  padding-right: 24px;
  background: url(../assets/icon/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center right;
}
.header__submenu-box {
  padding-top: 31px;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: -17%;
  z-index: 100;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.header__menu-item:hover > .header__submenu-box {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.header__submenu {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
  z-index: 99;
}
.header__submenu::after {
  content: "";
  width: 16px;
  height: 8px;
  position: absolute;
  top: -7px;
  left: 142px;
  background: url(../assets/icon/icon-triangle.svg);
  background-repeat: no-repeat;
  background-size: 16px 8px;
}
.header__submenu-item {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.header__card-btn {
  padding: 9px 16px 9px 48px;
  background: url(../assets/icon/icon-cart.svg), rgb(255, 112, 16);
  background-repeat: no-repeat;
  background-position: center left 16px;
  border-radius: 4px;
}
.header__card-price-box {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.main__wrapper {
  max-width: 850px;
  flex-direction: column;
  align-items: start;
}
.main__wrapper {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__order-box {
  margin-top: 48px;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}
.main__order-text {
  margin-top: 16px;
}
.main__text {
  max-width: 355px;
  margin-top: 16px;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-align: center;
}
.main__btn {
  padding: 13px 24px;
  margin-top: 24px;
  background: rgb(255, 112, 16);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.footer {
  width: 100%;
  height: 262px;
  margin-top: auto;
  padding: 32px 0px 32px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
}
.footer__wrapper {
  height: 100%;
  width: 100%;
  align-items: start;
}
.footer__column-about {
  height: 100%;
  width: 100%;
  max-width: 265px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer__column-logo-link {
  height: 40px;
  padding-left: 55px;
  display: flex;
  align-items: center;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
.footer__column-logo-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__copyright {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: left;
}
.footer__columns {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
}
.footer__column-heading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__column-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer__column-link {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */