@import url(./fonts.css);
@import url(./resets.css);
.popup-cart {
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: end;
  top: 0;
  right: 0;
  background: rgba(25, 25, 25, 0.4);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  z-index: 1000;
  transition: 0.33s;
}
.popup-cart--active {
  visibility: visible;
  opacity: 1;
}
.popup-cart__window {
  max-width: 420px;
  width: 100%;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgb(255, 255, 255);
}
.popup-cart__window-conteiner {
  width: 100%;
  padding: 32px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.popup-cart__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-cart__subheading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.popup-cart__body-item {
  padding: 16px;
  width: 100%;
  height: 126px;
  display: flex;
  align-items: start;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
}
.popup-cart__item-img {
  width: 94px;
  height: 94px;
  margin-right: 16px;
}
.popup-cart__item-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.popup-cart__column-top {
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.popup-cart__name {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__description {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__column-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup-cart__counter {
  width: 92px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 238, 226);
  border-radius: 6px;
}
.popup-cart__counter-btn {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.popup-cart__counter-span {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.popup-cart__price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
}
.popup-cart__footer {
  position: sticky;
  width: 100%;
  bottom: 0;
  right: 0;
  margin-top: auto;
  border-top: 1px solid rgb(240, 240, 240);
  background: rgb(255, 255, 255);
}
.popup-cart__footer-box {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.popup-cart__footer-price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.popup-cart__btn {
  padding: 13px 44px;
  border-radius: 6px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.popup-cart__btn--submit {
  background: rgb(255, 112, 16);
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(249, 249, 249);
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header {
  background-color: rgb(255, 255, 255);
}
.header__bottom {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.header__logo-link {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 44px;
  margin-right: 6%;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.header__logo-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}
.header__bottom-nav {
  position: relative;
  margin-right: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__menu-link {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.header__menu-link--arrow {
  padding-right: 24px;
  background: url(../assets/icon/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center right;
}
.header__submenu-box {
  padding-top: 31px;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: -17%;
  z-index: 100;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
}
.header__menu-item:hover > .header__submenu-box {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.header__submenu {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
  z-index: 99;
}
.header__submenu::after {
  content: "";
  width: 16px;
  height: 8px;
  position: absolute;
  top: -7px;
  left: 142px;
  background: url(../assets/icon/icon-triangle.svg);
  background-repeat: no-repeat;
  background-size: 16px 8px;
}
.header__submenu-item {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.header__card-btn {
  padding: 9px 16px 9px 48px;
  background: url(../assets/icon/icon-cart.svg), rgb(255, 112, 16);
  background-repeat: no-repeat;
  background-position: center left 16px;
  border-radius: 4px;
}
.header__card-price-box {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
.main {
  margin-top: 40px;
}
.main__wrapper {
  max-width: 850px;
  flex-direction: column;
  align-items: start;
}

.main-item-subheading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.order {
  width: 100%;
}
.order__items-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.order__items-heading {
  align-self: flex-start;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.order__items {
  margin-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.order__item {
  width: 100%;
  padding: 16px 24px 16px 16px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
}
.order__item-img {
  width: 120px;
  height: 120px;
  margin-right: 16px;
}
.order__item-box {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
}
.order__item-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.order__item-subheading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.order__item-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.order__item-part-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.order__item-counter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: rgb(255, 238, 226);
  border-radius: 6px;
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.order__item-counter-btn {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.order__item-counter {
  width: 40px;
}
.order__item-price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: right;
}
.order__bottom {
  margin-bottom: 30px;
  width: 100%;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
}
.order__input-box {
  width: 320px;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}
.order__input {
  width: 250px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.order__input:focus {
  color: rgb(25, 25, 25);
}
.order__input-btn {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../assets/icon/icon-arrow-right.svg), rgb(255, 112, 16);
  background-position: center left 16px;
  background-repeat: no-repeat;
  border-radius: 6px;
  z-index: 100;
}
.order__total-price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: right;
}
.order__sliders {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.order__slider-conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.order__slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.order__slider-card {
  width: 190px;
  height: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 12px;
}
.order__slider-img {
  width: 100%;
  height: 190px;
}
.order__slider-card-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__slider-card-subheading {
  margin-top: 16px;
  max-width: 130px;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.order__slider-card-description {
  margin-top: 8px;
  color: "Inter";
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}
.order__slider-card-footer {
  width: 100%;
  padding: 16px;
  margin-top: auto;
  display: flex;
  align-items: center;
}
.order__slider-card-btn {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background: rgb(255, 112, 16);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.info {
  width: 100%;
  margin-top: 30px;
}
.info__wrapper {
  width: 100%;
  flex-direction: column;
  align-items: start;
}
.info__user {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.info__user-info {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__user-input-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.info__user-lable {
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.info__user-input {
  width: 270px;
  height: 48px;
  padding: 13px 16px 13px 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__user-input:focus {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__address {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.info__address-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__address-header-box {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}
.info__address-header-item {
  display: flex;
  align-items: center;
}
.info__address-header-lable {
  display: flex;
  align-items: center;
}
.info__address-header-input {
  display: none;
}
.info__address-header-input:checked + .info__address-header-checkbox {
  background: rgb(255, 112, 16);
  color: rgb(255, 255, 255);
}
.info__address-header-checkbox {
  cursor: pointer;
  padding: 13px 30px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: "Inter";
  color: rgb(25, 25, 25);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.3s;
}
.info__address-body {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.info__address-top {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.info__address-top-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.info__address-lable {
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.info__address-input {
  width: 100%;
  padding: 13px 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__address-input:focus {
  color: rgb(25, 25, 25);
}
.info__address-middle {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.info__address-middle-box {
  max-width: 154px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.info__address-bottom {
  margin-top: 16px;
}
.info__address-bottom-subheading {
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__address-bottom-box {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.info__address-bottom-lable {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.info__address-bottom-input {
  display: none;
}
.info__address-bottom-input:checked + .info__address-bottom-checkbox {
  background: url(../assets/icon/icon-checkbox-middle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}
.info__address-bottom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(255, 112, 16);
  border-radius: 47px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  transition: 0.3s;
}
.info__address-bottom-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__price {
  width: 100%;
}
.info__price-top {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.info__price-bottom {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.info__price-box {
  margin-top: 19px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.info__price-item {
  display: flex;
  align-items: center;
}
.info__price-label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info__price-input {
  display: none;
}
.info__price-input--meaning {
  max-width: 160px;
  position: relative;
  padding: 13px 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__price-input--meaning:focus {
  color: rgb(25, 25, 25);
}
.info__price-input:checked + .info__price-checkbox {
  background: url(../assets/icon/icon-checkbox-middle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}
.info__price-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(255, 112, 16);
  border-radius: 47px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
  transition: 0.3s;
}
.info__price-text {
  margin-right: 16px;
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__price-input-box {
  position: relative;
}
.info__price-sign {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 16px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}
.info__comment {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid rgb(240, 240, 240);
}
.info__comment-textarea {
  width: 100%;
  padding: 13px 16px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
  color: rgb(165, 165, 165);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  resize: none;
}
.info__comment-textarea {
  color: rgb(25, 25, 25);
}
.info__footer {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__footer-price-box {
  color: rgb(255, 112, 16);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: right;
}
.info__footer-btn {
  padding: 13px 24px;
  background: rgb(255, 112, 16);
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.footer {
  width: 100%;
  height: 262px;
  margin-top: auto;
  padding: 32px 0px 32px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(240, 240, 240);
}
.footer__wrapper {
  height: 100%;
  width: 100%;
  align-items: start;
}
.footer__column-about {
  height: 100%;
  width: 100%;
  max-width: 265px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.footer__column-logo-link {
  height: 40px;
  padding-left: 55px;
  display: flex;
  align-items: center;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
.footer__column-logo-text {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__copyright {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: left;
}
.footer__columns {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
}
.footer__column-heading {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}
.footer__column-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer__column-link {
  color: rgb(25, 25, 25);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}/*# sourceMappingURL=style.css.map */