@import url(./fonts.css);
@import url(./resets.css);

$font-inter: "Inter";
$font-SF-Pro-Text: "SF Pro Text";
$color-light-white: rgb(255, 255, 255);
$color-white: rgb(249, 249, 249);
$color-white-border: rgb(240, 240, 240);
$color-dark: rgb(25, 25, 25);
$color-orange: rgb(255, 112, 16);
$color-light-orange: rgb(255, 238, 226);
$color-red: rgb(226, 53, 53);
$color-grey: rgb(165, 165, 165);

// popup-cart

.popup-cart {
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: end;
  top: 0;
  right: 0;
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(32px);
  z-index: 1000;
  transition: 0.33s;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  // popup-cart__window

  &__window {
    max-width: 420px;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: $color-light-white;
  }

  &__window-conteiner {
    width: 100%;
    padding: 32px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  // popup-cart__header

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subheading {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__btn-close {
  }

  // popup-cart__body

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__body-item {
    padding: 16px;
    width: 100%;
    height: 126px;
    display: flex;
    align-items: start;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 12px;
  }

  &__item-img {
    width: 94px;
    height: 94px;
    margin-right: 16px;
  }

  &__item-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__column-top {
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__name {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__description {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__column-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter {
    width: 92px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-light-orange;
    border-radius: 6px;
  }

  &__counter-btn {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__counter-span {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  // popup-cart__price-box

  &__price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
  }

  &__price {
  }

  // popup-cart__footer

  &__footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    right: 0;
    margin-top: auto;
    border-top: 1px solid rgb(240, 240, 240);
    background: $color-light-white;
  }

  &__footer-box {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__footer-price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__footer-price-text {
  }

  &__footer-price {
  }

  &__btn {
    padding: 13px 44px;
    border-radius: 6px;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__btn--submit {
    background: $color-orange;
    color: $color-light-white;
  }
}

// BODY

body {
  background-color: $color-white;
}

// PAGE

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// WRAPPER

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

// HEADER

.header {
  background-color: $color-light-white;

  // header__bottom

  &__bottom {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-white-border;
  }

  &__wrapper {
  }

  &__logo-link {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 44px;
    margin-right: 6%;
    background: url(../assets/icon/icon-logo-pizza.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__logo-text {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
  }

  // header__bottom-nav

  &__bottom-nav {
    position: relative;
    margin-right: auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__menu-item {
  }

  &__menu-link {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__menu-link--arrow {
    padding-right: 24px;
    background: url(../assets/icon/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center right;
  }

  // header__submenu-box

  &__submenu-box {
    padding-top: 31px;
    max-width: 300px;
    width: 100%;
    position: absolute;
    right: -17%;
    z-index: 100;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: 0.3s linear;
    visibility: hidden;
    opacity: 0;
  }

  &__menu-item:hover > &__submenu-box {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  &__submenu {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
    z-index: 99;
  }

  &__submenu::after {
    content: "";
    width: 16px;
    height: 8px;
    position: absolute;
    top: -7px;
    left: 142px;
    background: url(../assets/icon/icon-triangle.svg);
    background-repeat: no-repeat;
    background-size: 16px 8px;
  }

  &__submenu-item {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  // header__card-btn

  &__card-btn {
    padding: 9px 16px 9px 48px;
    background: url(../assets/icon/icon-cart.svg), $color-orange;
    background-repeat: no-repeat;
    background-position: center left 16px;
    border-radius: 4px;
  }

  &__card-price-box {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-light-white;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__card-price-box {
  }
}

// MAIN

.main {
  margin-top: 40px;
  &__wrapper {
    max-width: 850px;
    flex-direction: column;
    align-items: start;
  }
}

.main-item-subheading {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

// order

.order {
  width: 100%;

  &__items-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__items-heading {
    align-self: flex-start;
    color: $color-dark;
    font-family: $font-inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__items {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  // order__item

  &__item {
    width: 100%;
    padding: 16px 24px 16px 16px;
    display: flex;
    align-items: center;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 12px;
  }

  &__item-img {
    width: 120px;
    height: 120px;
    margin-right: 16px;
  }

  &__item-box {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    justify-content: space-between;
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  &__item-subheading {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__item-text {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__item-part-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__item-counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: $color-light-orange;
    border-radius: 6px;
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__item-counter-btn {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__item-counter {
    width: 40px;
  }

  &__item-price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: right;
  }

  &__item-price {
  }

  // order__bottom

  &__bottom {
    margin-bottom: 30px;
    width: 100%;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 8px;
  }

  &__input-box {
    width: 320px;
    height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 6px;
  }

  &__input {
    width: 250px;
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__input:focus {
    color: $color-dark;
  }

  &__input-btn {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../assets/icon/icon-arrow-right.svg), $color-orange;
    background-position: center left 16px;
    background-repeat: no-repeat;
    border-radius: 6px;
    z-index: 100;
  }

  // order__total-price-box

  &__total-price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: right;
  }

  &__total-price-text {
  }

  &__total-price {
  }

  // order__sliders

  &__sliders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  &__slider-conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__sliders-subheading {
  }

  // order__slider

  &__slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__slider-card {
    width: 190px;
    height: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 12px;
  }

  &__slider-img {
    width: 100%;
    height: 190px;
  }

  &__slider-card-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider-card-subheading {
    margin-top: 16px;
    max-width: 130px;
    color: $color-dark;
    font-family: $font-inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__slider-card-description {
    margin-top: 8px;
    color: $font-inter;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
  }

  // order__slider-card-footer

  &__slider-card-footer {
    width: 100%;
    padding: 16px;
    margin-top: auto;
    display: flex;
    align-items: center;
  }

  &__slider-card-btn {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: $color-orange;
    border-radius: 6px;
    color: $color-light-white;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__slider-card-price {
  }
}

// INFO

.info {
  width: 100%;
  margin-top: 30px;
  &__wrapper {
    width: 100%;
    flex-direction: column;
    align-items: start;
  }

  &__user {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid $color-white-border;
  }

  &__user-subheading {
  }

  &__user-info {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__user-input-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  &__user-lable {
    color: $color-grey;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__user-input {
    width: 270px;
    height: 48px;
    padding: 13px 16px 13px 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 6px;
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__user-input:focus {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  // info__address

  &__address {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  // info__address-header

  &__address-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__address-subheading {
  }

  &__address-header-box {
    display: flex;
    align-items: center;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 6px;
  }

  // info__address-header-item

  &__address-header-item {
    display: flex;
    align-items: center;
  }

  &__address-header-lable {
    display: flex;
    align-items: center;
  }

  &__address-header-input {
    display: none;
  }

  &__address-header-input:checked + &__address-header-checkbox {
    background: $color-orange;
    color: $color-light-white;
  }

  &__address-header-checkbox {
    cursor: pointer;
    padding: 13px 30px;
    background: $color-light-white;
    border-radius: 6px;
    font-family: $font-inter;
    color: $color-dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    transition: 0.3s;
  }

  &__address-header-text {
  }

  // info__address-body

  &__address-body {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-white-border;
  }

  &__address-top {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__address-top-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  &__address-lable {
    color: $color-grey;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  &__address-input {
    width: 100%;
    padding: 13px 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 6px;
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__address-input:focus {
    color: $color-dark;
  }

  // info__address-middle

  &__address-middle {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__address-middle-box {
    max-width: 154px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  // info__address-bottom

  &__address-bottom {
    margin-top: 16px;
  }

  &__address-bottom-subheading {
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__address-bottom-box {
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__address-bottom-item {
  }

  &__address-bottom-lable {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  &__address-bottom-input {
    display: none;
  }

  &__address-bottom-input:checked + &__address-bottom-checkbox {
    background: url(../assets/icon/icon-checkbox-middle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
  }

  &__address-bottom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid $color-orange;
    border-radius: 47px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    transition: 0.3s;
  }

  &__address-bottom-text {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  // info__price

  &__price {
    width: 100%;
  }

  &__price-top {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-white-border;
  }

  &__price-bottom {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-white-border;
  }

  &__price-subheading {
  }

  &__price-box {
    margin-top: 19px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__price-item {
    display: flex;
    align-items: center;
  }

  &__price-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__price-input {
    display: none;
  }

  &__price-input--meaning {
    max-width: 160px;
    position: relative;
    padding: 13px 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 6px;
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__price-input--meaning:focus {
    color: $color-dark;
  }

  &__price-input:checked + &__price-checkbox {
    background: url(../assets/icon/icon-checkbox-middle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
  }

  &__price-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid $color-orange;
    border-radius: 47px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    transition: 0.3s;
  }

  &__price-text {
    margin-right: 16px;
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__price-input-box {
    position: relative;
  }

  &__price-sign {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 16px;
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  // info__comment

  &__comment {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid $color-white-border;
  }

  &__comment-subheading {
  }

  &__comment-textarea {
    width: 100%;
    padding: 13px 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 6px;
    color: $color-grey;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    resize: none;
  }

  &__comment-textarea {
    color: $color-dark;
  }

  // info__footer

  &__footer {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footer-price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: right;
  }

  &__footer-price-text {
  }

  &__footer-price {
  }

  &__footer-btn {
    padding: 13px 24px;
    background: $color-orange;
    border-radius: 6px;
    color: $color-light-white;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
}

// FOOTER

.footer {
  width: 100%;
  height: 262px;
  margin-top: auto;
  padding: 32px 0px 32px 0px;
  background-color: $color-light-white;
  border: 1px solid $color-white-border;

  &__wrapper {
    height: 100%;
    width: 100%;
    align-items: start;
  }

  &__column-about {
    height: 100%;
    width: 100%;
    max-width: 265px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__column-logo-link {
    height: 40px;
    padding-left: 55px;
    display: flex;
    align-items: center;
    background: url(../assets/icon/icon-logo-pizza.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
  }

  &__column-logo-text {
    color: rgb(25, 25, 25);
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__copyright {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: left;
  }

  &__columns {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
  }

  &__column-heading {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__column-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__column-link {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__column-text {
  }

  &__column-link-box {
  }
}
