@import url(./fonts.css);
@import url(./resets.css);

$font-inter: "Inter";
$font-SF-Pro-Text: "SF Pro Text";
$color-light-white: rgb(255, 255, 255);
$color-white: rgb(249, 249, 249);
$color-white-border: rgb(240, 240, 240);
$color-dark: rgb(25, 25, 25);
$color-orange: rgb(255, 112, 16);
$color-light-orange: rgb(255, 238, 226);
$color-red: rgb(226, 53, 53);
$color-grey: rgb(165, 165, 165);

// popup-cart

.popup-cart {
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: end;
  top: 0;
  right: 0;
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(32px);
  z-index: 1000;
  transition: 0.33s;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  // popup-cart__window

  &__window {
    max-width: 420px;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: $color-light-white;
  }

  &__window-conteiner {
    width: 100%;
    padding: 32px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  // popup-cart__header

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subheading {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__btn-close {
  }

  // popup-cart__body

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__body-item {
    padding: 16px;
    width: 100%;
    height: 126px;
    display: flex;
    align-items: start;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 12px;
  }

  &__item-img {
    width: 94px;
    height: 94px;
    margin-right: 16px;
  }

  &__item-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__column-top {
    height: 46px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__name {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__description {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__column-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__counter {
    width: 92px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-light-orange;
    border-radius: 6px;
  }

  &__counter-btn {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__counter-span {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  // popup-cart__price-box

  &__price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
  }

  &__price {
  }

  // popup-cart__footer

  &__footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    right: 0;
    margin-top: auto;
    border-top: 1px solid rgb(240, 240, 240);
    background: $color-light-white;
  }

  &__footer-box {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__footer-price-box {
    color: $color-orange;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__footer-price-text {
  }

  &__footer-price {
  }

  &__btn {
    padding: 13px 44px;
    border-radius: 6px;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__btn--submit {
    background: $color-orange;
    color: $color-light-white;
  }
}

// BODY

body {
  background-color: $color-white;
}

// PAGE

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// WRAPPER

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

// HEADER

.header {
  background-color: $color-light-white;

  // header__bottom

  &__bottom {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-white-border;
  }

  &__wrapper {
  }

  &__logo-link {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 44px;
    margin-right: 6%;
    background: url(../assets/icon/icon-logo-pizza.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__logo-text {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
  }

  // header__bottom-nav

  &__bottom-nav {
    position: relative;
    margin-right: auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__menu-item {
  }

  &__menu-link {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__menu-link--arrow {
    padding-right: 24px;
    background: url(../assets/icon/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center right;
  }

  // header__submenu-box

  &__submenu-box {
    padding-top: 31px;
    max-width: 300px;
    width: 100%;
    position: absolute;
    right: -17%;
    z-index: 100;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: 0.3s linear;
    visibility: hidden;
    opacity: 0;
  }

  &__menu-item:hover > &__submenu-box {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }

  &__submenu {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    background: $color-light-white;
    border: 1px solid $color-white-border;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
    z-index: 99;
  }

  &__submenu::after {
    content: "";
    width: 16px;
    height: 8px;
    position: absolute;
    top: -7px;
    left: 142px;
    background: url(../assets/icon/icon-triangle.svg);
    background-repeat: no-repeat;
    background-size: 16px 8px;
  }

  &__submenu-item {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  // header__card-btn

  &__card-btn {
    padding: 9px 16px 9px 48px;
    background: url(../assets/icon/icon-cart.svg), $color-orange;
    background-repeat: no-repeat;
    background-position: center left 16px;
    border-radius: 4px;
  }

  &__card-price-box {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-light-white;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }

  &__card-price-box {
  }
}

// MAIN

.main {
}

// ORDER

.order {
}

// FOOTER

.footer {
  width: 100%;
  height: 262px;
  margin-top: auto;
  padding: 32px 0px 32px 0px;
  background-color: $color-light-white;
  border: 1px solid $color-white-border;

  &__wrapper {
    height: 100%;
    width: 100%;
    align-items: start;
  }

  &__column-about {
    height: 100%;
    width: 100%;
    max-width: 265px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  &__column-logo-link {
    height: 40px;
    padding-left: 55px;
    display: flex;
    align-items: center;
    background: url(../assets/icon/icon-logo-pizza.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
  }

  &__column-logo-text {
    color: rgb(25, 25, 25);
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__copyright {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0px;
    text-align: left;
  }

  &__columns {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;
  }

  &__column-heading {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__column-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__column-link {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }

  &__column-text {
  }

  &__column-link-box {
  }
}
