@import url(./fonts.css);
@import url(./resets.css);

$font-inter: "Inter";
$font-SF-Pro-Text: "SF Pro Text";
$color-light-white: rgb(255, 255, 255);
$color-white: rgb(249, 249, 249);
$color-white-border: rgb(240, 240, 240);
$color-dark: rgb(25, 25, 25);
$color-orange: rgb(255, 112, 16);
$color-red: rgb(226, 53, 53);

// BODY

body {
  background-color: $color-white;
}

// HEADER

.header {
  background-color: $color-light-white;
}

// header__top

.header__top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-white-border;
}

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__wrapper {
}

.header__top-left-side {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}

.header__logo-map-img {
}

.header__location-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location-btn__span {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.location-btn__img {
}

.header__address-verification {
}

.address-verification__span {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.timer-box {
}

.header__timer-box {
}

.timer-box__text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.timer-box__timer {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.header__top-right-side {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__info-box {
  display: flex;
  align-items: center;
}

.info-box__text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.info-box__work-time {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.header__log-in-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.log-in-btn__img {
}

.log-in-btn__text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

// header__bottom

.header__bottom {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-white-border;
}

.header__logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: auto;
}

.header__logo-img {
}

.header__logo-text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.header__basket-btn {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background: $color-orange;
  border-radius: 4px;
  gap: 8px;
}

.basket-btn__img {
}

.basket-btn__price-box {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.basket-btn__price {
}

// MAIN

.main {
}

// FILTERS

.filters {
}

.main__filters {
}

.wrapper {
}

.header__wrapper {
}

.filters__cards {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 135px);
  grid-template-rows: 104px;
  justify-content: space-between;
}

.filters__card {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $color-light-white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.filters__card-img {
}

.filters__card-text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

// stock

.stock {
  margin-top: 30px;
  width: 100%;
}

.stock__wrapper {
}

.stock__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 343px;
  justify-content: space-between;
}

.stock__card {
  position: relative;
  background: $color-orange;
  border-radius: 12px;
  background: url(../assets/img/stock-card-bg-1.png), $color-orange;
  background-repeat: no-repeat;
  background-size: 460px 270px;
  background-position: bottom 110px center;
}

.stock__card:nth-child(even) {
  background: url(../assets/img/stock-card-bg-2.png), $color-red;
  background-repeat: no-repeat;
  background-size: 280px 115px;
  background-position: bottom 154px left;
}

.stock__card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

// filters__check-address

.filters__check-address {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.check-address__wrapper {
}

.check-address__fieldset {
  padding: 16px 32px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: $color-light-white;
  border-radius: 8px;
}

.check-address__text {
  margin-right: 32px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.check-address__input-box {
  margin-right: 20px;
  width: 783px;
  height: 48px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}

.check-address__input-box-img {
  margin-left: 12px;
}

.check-address__input {
  margin-left: 8px;
  width: 90%;
  color: rgb(165, 165, 165);
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.check-address__btn {
  padding: 12px 32px;
  background: $color-orange;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

// FOODS

.foods {
  width: 100%;
  margin-top: 30px;
}

.foods__wrapper {
  flex-direction: column;
  align-items: start;
}

.foods__conteiner {
  width: 100%;
}

.foods__conteiner--pizza {
}

.foods__conteiner--sushi {
  margin-top: 46px;
}

.foods__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foods__header-heading {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.foods__header-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 16px;
  background: $color-light-white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}

.foods__header-btn-img {
}

.foods__header-btn-span {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

// foods__list

.foods__list {
  width: 100%;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 480px;
  justify-content: space-between;
  row-gap: 30px;
}

.food-list__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 12px;
  background: $color-light-white;
}

.food-list__card--new::after {
  content: "NEW";
  position: absolute;
  width: 65px;
  height: 32px;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 0px 5px 5px 0px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.food-list__card--hit::after {
  content: "ХИТ";
  position: absolute;
  width: 65px;
  height: 32px;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 0px 5px 5px 0px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.food-list__card-img {
}

.food-list__card-box {
  padding: 16px 20px;
  border-top: 1px solid $color-white-border;
}

.food-list__card-name {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.food-list__card-description {
  max-width: 260px;
  margin-top: 12px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.food-list__card-btn-box {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-list__card-btn {
  padding: 13px 32px;
  background: $color-orange;
  border-radius: 6px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.food-list__card-price-box {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $color-orange;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}

.food-list__card-price {
}
