@import url(./fonts.css);
@import url(./resets.css);

$font-inter: "Inter";
$font-SF-Pro-Text: "SF Pro Text";
$color-light-white: rgb(255, 255, 255);
$color-white: rgb(249, 249, 249);
$color-white-border: rgb(240, 240, 240);
$color-dark: rgb(25, 25, 25);
$color-orange: rgb(255, 112, 16);
$color-light-orange: rgb(255, 238, 226);
$color-red: rgb(226, 53, 53);
$color-grey: rgb(165, 165, 165);

// BODY

.popup-filters {
  // overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: end;
  top: 0;
  right: 0;
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(32px);
  z-index: 1000;
  transition: 0.33s;
}

.popup-filters--hidden {
  opacity: 0;
  visibility: hidden;
}

.popup__filters--pizza {
}

.popup-filters__window {
  max-width: 520px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background: $color-light-white;
}

.popup__filters--pizza {
}

.filters__header {
  padding: 32px 20px 0px 20px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.filters__subheading {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}

.filters__subheading-btn {
  cursor: pointer;
}

.filters__body {
  padding: 0px 20px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.filters__body-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.filters__body-subheading {
  color: $color-grey;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.filters__body-items {
  max-width: 84%;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.filters__body-item {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 16px;
  background: $color-light-white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}

.filters__body-item:last-child {
  margin-bottom: 0px;
}

.filters__body-item:active {
  background-color: $color-orange;
}

.filters__body-item:active .filters__body-item-text {
  color: $color-light-white;
}

.filters__body-item-text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.filters__footer {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid $color-grey;
}

.filters__footer-btn-box {
  padding: 12px 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.filters__footer-btn {
  padding: 13px 77px;
  border-radius: 6px;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.filters__footer-btn--white {
  border: 1px solid $color-orange;
  color: $color-orange;
}

.filters__footer-btn--orange {
  background: $color-orange;
  color: $color-light-white;
}

// BODY

body {
  background-color: $color-white;
}

// HEADER

.header {
  background-color: $color-light-white;
}

// header__top

.header__top {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-white-border;
}

.wrapper {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__wrapper {
}

.header__top-left-side {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: auto;
}

.header__location {
  height: 20px;
  padding-left: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: url(../assets/icon/icon-map-point.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.location__span {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.location__img {
}

.header__address-verification {
}

.address-verification__span {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0px;
  text-align: right;
}

.timer-box {
}

.header__timer-box {
}

.timer-box__text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.timer-box__timer {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.header__top-right-side {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__info-box {
  display: flex;
  align-items: center;
}

.info-box__text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.info-box__work-time {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.header__log-in-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.log-in-btn__text {
  padding-left: 28px;
  background: url(../assets/icon/icon-man.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

// header__bottom

.header__bottom {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $color-white-border;
}

.header__logo-link {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 44px;
  margin-right: auto;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__logo-text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.header__basket-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 16px 9px 48px;
  background: url(../assets/icon/icon-shopping-bag.svg), $color-orange;
  background-repeat: no-repeat;
  background-size: 24px 21px;
  background-position: center left 16px;
  border-radius: 4px;
}

.basket-btn__img {
}

.basket-btn__price-box {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.basket-btn__price {
}

// MAIN

.main {
}

// FILTERS

.filters {
}

.main__filters {
}

.wrapper {
}

.header__wrapper {
}

.filters__cards {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 135px);
  grid-template-rows: 1fr;
  justify-content: space-between;
}

.filters__card {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: $color-light-white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
}

.filters__card-text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

// stock

.stock {
  margin-top: 30px;
  width: 100%;
}

.stock__wrapper {
}

.stock__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(343px, 1fr));
  column-gap: 30px;
  justify-content: space-between;
}

.stock__card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 12px;
  background: url(../assets/img/stock-card-bg-1.png), $color-orange;
  background-repeat: no-repeat;
  background-size: 460px 270px;
  background-position: bottom 110px center;
}

.stock__card:nth-child(even) {
  background: url(../assets/img/stock-card-bg-2.png), $color-red;
  background-repeat: no-repeat;
  background-size: 280px 115px;
  background-position: bottom 154px left;
}

.stock__card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: left;
}

// filters__check-address

.filters__check-address {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.check-address__wrapper {
}

.check-address__form {
  width: 100%;
  background-color: $color-light-white;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 8px;
}

.check-address__fieldset {
  padding: 16px 32px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 8px;
}

.check-address__text {
  margin-right: 32px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.check-address__input-box {
  margin-right: auto;
  width: 100%;
  max-width: 775px;
  height: 48px;
  display: flex;
  align-items: center;
  background: url(../assets/icon/icon-map-point.svg);
  background-repeat: no-repeat;
  background-size: 13px 20px;
  background-position: top 50% left 15.5px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}

.check-address__input {
  margin-left: 40px;
  width: 90%;
  color: $color-grey;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.check-address__input:focus {
  color: $color-dark;
}

.check-address__btn {
  padding: 12px 32px;
  background: $color-orange;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

// FOODS

.foods {
  width: 100%;
  margin-top: 30px;
}

.foods__wrapper {
  flex-direction: column;
  align-items: start;
}

.foods__conteiner {
  width: 100%;
}

.foods__conteiner--pizza {
}

.foods__conteiner--sushi {
  margin-top: 46px;
}

.foods__conteiner--snacks {
  margin-top: 46px;
}

.foods__conteiner--dessert {
  margin-top: 46px;
}

.foods__conteiner--beverages {
  margin-top: 46px;
}

.foods__conteiner--sauces {
  margin-top: 46px;
}

.foods__conteiner--combo {
  margin-top: 46px;
}

.foods__header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subheading {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.foods__conteiner-subheading--pizza {
}
.foods__conteiner-subheading--sushi {
}
.foods__conteiner-subheading--snacks {
}
.foods__conteiner-subheading--dessert {
}
.foods__conteiner-subheading--beverages {
}
.foods__conteiner-subheading--combo {
}

.foods__header-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 16px 9px 40px;
  background: url(../assets/icon/icon-filter.svg), $color-light-white;
  background-repeat: no-repeat;
  background-position: center left 16px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 6px;
}

.foods__header-btn-img {
}

.foods__header-btn-span {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

// foods__list

.foods__list {
  width: 100%;
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: minmax(424px, 480px);
  justify-content: space-between;
  row-gap: 30px;
}

.food-list__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 12px;
  background: $color-light-white;
}

.food-list__card--new::after {
  content: "NEW";
  position: absolute;
  width: 65px;
  height: 32px;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 0px 5px 5px 0px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.food-list__card--hit::after {
  content: "ХИТ";
  position: absolute;
  width: 65px;
  height: 32px;
  top: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-red;
  border-radius: 0px 5px 5px 0px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.food-list__card-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid $color-white-border;
}

.food-list__card-box {
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.food-list__card-name {
  height: 48px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.food-list__card-description {
  margin-bottom: auto;
  width: 100%;
  max-width: 260px;
  height: 44px;
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.food-list__card-btn-box {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-list__card-btn {
  padding: 13px 32px;
  background: $color-orange;
  border-radius: 6px;
  color: $color-light-white;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

.food-list__card-price-box {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $color-orange;
  font-family: $font-inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}

.food-list__card-price {
}

// ABOUT DELIVERY

.about-delivery {
  margin-top: 60px;
}

.about-delivery__wrapper {
  max-width: 850px;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.about-delivery__subheading {
  font-size: 32px;
}

.subheading {
}

.about-delivery__shadow-box {
  width: 100%;
  z-index: 100;
  background: linear-gradient(rgba(0, 0, 0, 0.8));
}

.about-delivery__text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.about-delivery__text-heading {
  color: black;
  font-weight: 600;
}

.about-delivery__text {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.about-delivery__btn {
  color: $color-dark;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

// FOOTER

.footer {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding: 32px 0px 32px 0px;
  background-color: $color-light-white;
  border: 1px solid $color-white-border;
}

.footer__wrapper {
  height: 100%;
  width: 100%;
  align-items: start;
}

.footer__column-about {
  height: 100%;
  width: 100%;
  max-width: 265px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  // justify-content: space-between;????????????????????????
}

.footer__column-logo-link {
  height: 40px;
  padding-left: 55px;
  display: flex;
  align-items: center;
  background: url(../assets/icon/icon-logo-pizza.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.footer__column-logo-text {
  color: rgb(25, 25, 25);
  font-family: $font-inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__copyright {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  text-align: left;
}

.footer__columns {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
}

.footer__column-heading {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__column-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer__column-link {
  color: $color-dark;
  font-family: $font-inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__column-link-box {
}
